<a href="https://colab.research.google.com/github/Pawantripathi2606/DSA_PYTHON_14TH_SEPT_2025/blob/main/DSA_IN_PY_ALL_ALGO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ALGORITHM OF BUBBLE SORT **

In [ ]:
# bubble sort

def bubble(arr):
  n = len(arr)

  for i in range(n-1):
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]

In [ ]:
arr = [24,54,2,7,8,4,233]
print(arr)


bubble(arr)
print(arr)

[24, 54, 2, 7, 8, 4, 233]
[2, 4, 7, 8, 24, 54, 233]

## BASIC LOGIC TO GET COUNT OF NO OF SWAPS

In [ ]:
# returning the count of swap


def bubble_sort_swap_count(arr):
  n = len(arr)
  count = 0

  for i in range(n-1):
    is_sorted = True

    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]
        is_sorted = False
        count = count + 1

    if is_sorted:
      break

  return count

In [ ]:
arr = [24,54,2,7,8,4,233]
#print(arr)

#bubble_sort_swap_count(arr)
print(bubble_sort_swap_count(arr))
bubble_sort_swap_count(arr)
print(arr)



#arr1 = [1,2,3,4,5]
#print(arr1)
#bubble_sort_swap_count(arr1)
#print(arr1)


#print(bubble_sort_swap_count(arr1))

10
[2, 4, 7, 8, 24, 54, 233]

# **sorting a string in descending order off values after removal of values smaller then  X **


#approch--
1. convert the string into list
2. slpit them
3. remove all entites less then [50]
4. sort the list based on number / else based on string
5. join them

In [ ]:
def sort_the_string(str,x):

  #creating the list and spliting them
  my_list= str.split()

  n= len(my_list)
  # remove the pair valus having less then to the given number

  for i in range(n-1,0,-2):
    if int(my_list[i])<x:
      del(my_list[i-1:i+1])


      n= len(my_list)



      # sort the given list elements
  for i in range(1,n,2):
    for j in range(i,n-i,2):

      if my_list[j]<my_list[j+2] or my_list[j-1]  < my_list[j+1] and my_list[j] == my_list[j+2]:

        #swap


        my_list[j],my_list[j+2] = my_list[j+2], my_list[j]
        my_list[j-1] , my_list[j+1] = my_list[j+1], my_list[j-1]

  return " ".join(my_list)

str = "akshay 34 pawan 93 shubham 88 priya 77 sumit 49"
print(sort_the_string(str,50))

pawan 93 shubham 88 priya 77

# push zeros to the end while maintaining the relative order of other elements

# leetcode problem = 283 move zeros

In [ ]:
def push_zeros_to_end(arr):
  j= 0
  for i in range(len(arr)):
    if arr[i] != 0:
      arr[j], arr[i] = arr[i], arr[j]
      j += 1
  return arr


arr=[1,3,0,4,2,0,6,8]
print(push_zeros_to_end(arr))

[1, 3, 4, 2, 6, 8, 0, 0]

In [ ]:
# tipicaly  leetcode type sorting question
def bubble_sort(arr):
    n = len(arr)
    for i in range(n - 1):
        for j in range(n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

# Input
n = int(input())                # size of array
arr = list(map(int, input().split()))  # array elements

# Sort
sorted_arr = bubble_sort(arr)

# Output
print(*sorted_arr)

3
(1,6,7)
1 6 7

# selection sort

approch - find smallest to your current element and swap it

In [ ]:
def selection_sort(arr):

  # check the size of the array

  n = len(arr)

  for i in range(n):
    # assume the current first element is smallest

    mid_index = i   # starting from 0

    #next find the smallest element from the remaining unsorted array

    for j in range(i+1,n):
      if arr[j]<arr[mid_index]:
        mid_index=j


        # swap to the founded minimum element with the first element
    arr[i],arr[mid_index]=arr[mid_index],arr[i]

  return arr


arr = [4,44,5,88,5,35,0]
sorted_arr = selection_sort(arr)
print(sorted_arr)

[0, 4, 5, 5, 35, 44, 88]

In [1]:
# time complexity

#outer loop n - times
# inner loop for each iteration N se 1 tak


#n-1,n-2,n-3 -------1 = n(n+1)/2 = O(n^2)

**INSERTION SORT ALGORITHM**

-START WITH FIRST ELEMENT , ASSUMING IT IS ALREADY SORTED

- TAKE THEN NEXT ELEMENT AND COMPARE IT WITH THE ELEMENT IN THE SORTED SECTION , MOVING THEM ONE POSITION TO THE RIGHT TO MAKE SPACE IF NECESSARY


- INSERT THE ELEMENT IN ITS CORRECT POSITION

- REPEAT UNTIL ALL ELEMENT ARE SORTED

In [1]:
def insertion_sort(arr):
  # traverse through 1 to len(arr)
  for i in range (1, len(arr)):
      key = arr[i]
      #j is initialized to the index of the last element in the sorted position of the array
      j = i-1
      # compare the key with elements in the sorted portion of the array

      while j>=0 and key<arr[j]:
        arr[j+1]=arr[j]
        j-=1  # after swaping this will increment
      arr[j+1]=key
  return arr

In [4]:
arr = [12,-11,136,5,6]
sorted_ar=insertion_sort(arr)
print(sorted_ar)

[-11, 5, 6, 12, 136]